@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
    background: linear-gradient(115.14deg, rgba(145, 55, 236, 0.19) 12.09%, rgba(156, 55, 236, 0.1) 96.59%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
    margin: 0;
}

h1 {
  margin: 0;
}

.App {
  padding: 1em;
  width: 700px;
  margin: auto;
  /* border: 1px solid rgba(145, 55, 236, 0.4); */
}

hr {
  border-top: 1px solid rgba(145, 55, 236, 0.19);
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

textarea {
  border: none;
  font-family: 'Inter var', sans-serif; 
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}